@charset 'UTF-8';
html, html * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
header {
  position: fixed;
  padding: 2em;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  background: #f47320;
}
footer {
  position: absolute;
  height: 5rem;
  background: lightpink;
  bottom: 0;
  width: 100%;
}
/* Styles for navigation menu */
nav {
	width:100em;
	margin-left: 0;
	margin-top: 0;
}
#nav-wrap img{
	display:inline-block;
	vertical-align: top;
	clear:both;
}
#nav-wrap ul {
  list-style-type: none;
  vertical-align: top;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  display:inline-block;	
}
li {
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}
/* End navigation */
.intro {
  top: 8em;
  height: 30em;
  background: orange;
  position: relative;
}
.products {
  background: black;
  position: relative;
}
.product {
  margin: 0;
  position: relative;
}
.product-image {
  width: 50%;
  height: 30em;
  background: aqua;
  float: left;
}
.product-description {
  /*margin:5px;*/
  width: 50%;
  height: 30em;
  background: lightgreen;
  float: left;
}
.product-article-wrap {
  height: 30em;
  /*margin: 2px;*/
  position: relative;
  background: yellow;
}
#page-container {
  position: relative;
}
#content-wrap {
  padding-bottom: 5rem; /* Footer height */
}
#nav-wrap {
	/*margin-top:0;*/
	/*padding-top:0;*/
	margin-left:50%;
	position: relative;
}
