/* CSS Document */

/* Global */
html {
	background: black;
	font-family: sans-serif, Arial, Helvetica;
}

/* Header */
header {
  	position: fixed;
  	z-index: 1000;
  	width: 100%;
  	background: #f47320;
	padding-right: 0;
}

header img {
	float: left;
	padding: 0em;
	border-bottom: 0.5em solid white;
}

.gradient {
	float: left;
	width: 7.6em;
	height: 7.6em;
	background-image: linear-gradient(to right, white, #f47320);
	color: transparent;
}

header nav {
	float: right;
	margin:3em 2em 0 0;
}

header ul {
	display: inline-block;
	overflow: hidden;
    background-color: #555;
}

ul.no-bullets {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

header li {
	float: left;
}

header li a {
  	display: block;
  	color: white;
  	text-align: center;
  	padding: 14px 16px;
  	text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: #111; /* Change the link color to #111 (black) on hover */
}

/*Dropdown styles */
/* Style the dropdown button to fit inside the topnav */
.dropbtn {
  font-size: 17px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

/* Style the dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Style the links inside the dropdown */
.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  background-color: #555;
}

/* Add a grey background to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #6D6D6D;
  color: white;
}

/* Show the dropdown menu when the user moves the mouse over the dropdown button */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Footer */
footer {
  	position: absolute;
  	height: 5em;
  	background: #f47320;
  	bottom: 0;
  	width: 100%;	
}

footer p {
	text-align: center;
}